body {
  background-color: darkgray;
}
.App {
  text-align: center;
}

.mainPageContent {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

h3, h2 {
  width: 60%;
}

.App-link {
  color: #61dafb;
}

