body {
}
.App {
  text-align: center;
}

.mainPageContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: karla;
  align-items: center;
  justify-content: space-evenly;
  scroll-behavior: smooth;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

.App-link {
  color: #61dafb;
}

