.footer {
    display: flex;
    background-color: white;
    justify-content: center;
    color: darkgray;
}

.footer a {
    text-decoration: none;
    color: darkgray;
}

#homePageImg {
    margin-right: 10vw;
}

#txtBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}