.footer {
    display: flex;
    background-color: white;
    justify-content: center;
    color: darkgray;
}

.footer a {
    text-decoration: none;
    color: darkgray;
}

#homePageImg {
    margin-right: 10vw;
}

.txtBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slide1 {
    width: 100vw;
    color: #fdcd3b;
    animation: textColorChange 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes textColorChange {
    100% {
        color: black;
    }
}

#slide2 {
    height: max-content;
    width: 100vw;
    color: black;
}