ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: font-weigh 0.4s;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    font-weight: bold;
  }

  #logo {
    float: right;
  }

  #logoLink {
    padding: 0;
  }