.projectCard {
    width: 40%;
    border-radius: 5px;
    margin: 5px;
    transition: 1s;
    transition-timing-function: ease;
    box-shadow: 0 8px 10px 0 white;
  }

  .projectCard:hover {
    width: 50%;
  }
  
  .projectContainer {
    padding: 2px 16px;
    height: 30vh;
    font-size: large;
    font-family: karla;
    color: white;
  }

  #projectList {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
  }

  @media only screen and (max-width: 800px) {
    #projectList {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .projectCard {
      width: 70%;
    }

    .projectCard:hover {
      width: 75%;
    }

    .projectContainer {
      overflow-y: scroll;
    }
  }

  #projectList::-webkit-scrollbar {
    display: none;
  }

  #projectLink {
    color: whitesmoke;
  }